<div class="container__big-card">
  <div class="big-card__photo">
    <img class=""
      src="https://services.meteored.com/img/article/por-que-la-luna-se-aleja-de-la-tierra-1665842779962_768.jpeg"
      alt="Imagem do Big-Card"
      height="240"
      srcset=""
    >
  </div>

  <div class="big-card__title">
    <h1><a href="#">Planeta terra e a Lua</a></h1>
  </div>

  <div class="big-card__description">
    <p><a href="#">Lorem ipsum dolor sit amet consectetur adipisicing elit.
      Vel unde, libero autem vero natus doloribus eveniet soluta asperiores
      repellendus optio et minima numquam nesciunt accusantium nam laborum non dolor perferendis?
      </a>
    </p>
  </div>
</div>
