<div class="container__small-card">

  <div class="container__small-card__content">

    <div class="small-card__photo">
      <img class=""
        src="https://t.ctcdn.com.br/zzFYZcVE-MpF1SyrTG_VSs7CTUw=/137x0:2310x1224/640x360/smart/i334799.jpeg"
        alt="Imagem do Small-Card"
        srcset=""
      >
    </div>

    <div class="small-card__title">
      <h1><a href="#">Planeta terra e a Lua</a></h1>
    </div>
  </div>

  <div class="container__small-card__separator">
    <hr/>
  </div>

</div>

